.input{
    margin-left:19px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;

}
th {
    width: 190px;
    height: 60px;
}
td {
    height: 60px;
}